a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.first-image {
    background-image: url("./HTMLProjectAssets/HTMLProjectAssets/green-vegetables-on-brown-wooden-chopping-board-3952047.jpg"); 
    background-repeat: no-repeat;
    background-size: cover; 
    min-height: 900px;
    background-position: 0px -120px;
}

.first-image .rightmenu {
    margin: 0;
    text-align: center;
    top: 30%;
    padding-right: 15px;
}

.first-image .rightmenu .rightmenuitem {
    padding: 0px 5px;
}

.first-image .leftmenu .leftmenuitem {
    padding-left: 35px;
}

.first-image .leftmenu {
    margin: 0;
    top: 30%;
    padding-left: 15px;
}

.first-image-header {
    height: 50px;
    padding-top: 30px;
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 25px;
}

.first-image-text {
    text-align: center;
    margin: 0px;
    top: 50%;
    width: 100%;
    vertical-align: middle;
    color: white;
    font-size: 50px;
    padding-top: 150px;
}

.first-image-text hr {
    width: 475px;
}

.first-image-text h1 {
    margin: 5px;
}

body {
    border: 0px;
    margin: 0px;
}

.hrdiv {
    position: absolute;
    top: 60px;
    width: 96%;
    left: 50px;
    display: inline-block;
}